@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* setting setiap gambar akan di re-format */
img {
  transition: 0.3s ease-in-out;
}

img:hover {
  scale: 102%;
}
/* setting setiap gambar akan di re-format */
